//幅
$layout-width-inner: 1200px;

//高さ
$header-height-pc: 90px;
$header-height-tab: 80px;
$header-height-sp: 64px;

//余白
$padding-pc: 40px;
$padding-sp: 16px;

//色
$color-text: #17252A;
$color-main: #009966;
$color-hover: #006633;
$color-accent: #E81919;
$color-link: #FF5192;
$color-background: #efefef;
$color-member: #6F7579;
$color-contact: #ebffe6;
$color-contact-bg: #dddddd;

//文字
$font-en: 'Lora', serif;
$font-ja: 'Noto Serif JP', serif;
